<!DOCTYPE html>
<html>
<body>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="/">Home</button>
    <button type="button" class="btn btn-secondary" routerLink="/status">Status</button>
    <button type="button" class="btn btn-secondary" routerLink="/history">History</button>
  </div>
  <div *ngIf="isHomeRoute()"> <!--// SAMO DA ISPISUJE NASLOV NA HOME RUTI --->
  <div class="naslov">
    <h1>BMT - RI-KURS</h1>
  </div>
  </div>
</body>
</html>
<router-outlet></router-outlet>
